<nav class="navbar navbar-expand px-2">
    <div class="side-nav-button p-2 me-3" (click) = "sideNavToggle()">
        <i class="bi bi-list"></i>
    </div>
    <a class="navbar-brand px-4 fs-4" href="#"> DEMO PLAN </a>
    <div class="profile-logo dropdown">
        <button class="btn btn-primary btn-outline-light dropdown-toggle m-2" data-bs-toggle="dropdown">
            Admin
        </button>
        <ul class="dropdown-menu">
            <!-- <li><a href="/adminCreatePlan" class="dropdown-item">Create Plan</a></li> -->
            <li><a href="/adminCreateTemplate" class="dropdown-item">Create Template</a></li>
        </ul>
    </div>
</nav>
