nav {
    height: 100%;
    background-color: #cfe2ff;
}

.side-nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.side-nav-button:hover {
    background-color: #85a9df;
    border-radius: 20%;
}
