input, select {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}

button {
    width: 135px;
}

.btn-150 {
    width: 150px;
}

// .form-group {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }

// .form-group label {
//     flex: 0.5;
//     margin-right: 5px;
// }

// .form-group input[type="text"], 
// .form-group select {
//     flex: 2;
// }

// /* New/updated styles for checkbox */
// .form-group input[type="checkbox"] {
//     flex: none !important;
//     margin-left: 10px;
// }

// .form-group label + input[type="checkbox"] {
//     margin-right: 0; /* Remove the right margin when the checkbox follows a label */
// }

// /* Add flex: none to the label immediately before the checkbox */
// .form-group label + input[type="checkbox"]::before {
//     content: attr(for);
//     flex: none;
// }

// .form-group label + input[type="checkbox"] + label {
//     display: none; /* Hide the original label */
// }
